/* main {
    color: rgb(240, 204, 128);
}

.season {
    font-family: Georgia, 'Times New Roman', Times, serif;
} */

/* #season {
    font-weight: lighter;
} */


body {
    background-color: #c9f2dc;
    text-align: center;
    margin-top: 10px;
}

.mountains {
  font-family: "Mountains of Christmas", serif;
  font-weight: 800;
  font-style: normal;
  font-size: 50px;
}



h2 {
    color: red;
}

.solid-box {
    background-color: white;
    width: 80%;
    margin: 20px auto;
    border-radius: 25px;
    padding: 20px;
    border: 3px solid green;
}

.dashed-box {
    border: 8px dashed white;
}

.dotted-box {
    border: 5px dotted yellow;
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
}

nav {
    background-color: white;
    padding: 15px;
}

nav a {
    text-decoration: none;
    margin: 0 15px;
}

footer {
    padding: 20px;
    margin-top: 30px;
    background-color: white;
}
